<div class="navbar">
  <div class="navbar__user">
    <img src="{{currentUser.avatar}}">
    <div class="navbar__user__info">
      <span class="navbar__user__info__name">{{currentUser.name}}</span>
      <a href="{{ currentUser.profile_url }}" class="navbar__user__info__username" target="_blank">{{currentUser.username}}</a>
      <a href="/favorite">Mis favorites</a>
    </div>
  </div>
  <div class="navbar_form">
    <form action="/" method="POST">
      {{#each currentUser.languages}}
        <label><input type="checkbox" name="languages" value="{{this}}" {{#ifIn this ../currentLanguages }}checked{{/ifIn}}>{{this}}</label>
      {{/each}}
      <input class="btn btn-info" type="submit" value="Buscar">
    </form>
  </div>
  <div class="navbar_communitty">
    Comunidades
  </div>
  <div class="navbar_options">
    <a href="/profile" class="btn btn-info"><i class="fa fa-cog" aria-hidden="true"></i> Profile</a>
    <a href="/logout" class="btn btn-danger"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
  </div>
</div>
