<div class="row">
  <div class="col-3">
  {{>navbar}}
  </div>
  <div class="col-9">
    <div class="col-4">
      <form action="/" method="POST">
        <div class="form-group">
          <label for="searchDate">Select Date to search in github</label>
          <select class="form-control" id="searchDate" name="searchDate">
            <option value="today">Today</option>
            <option value="week">This week</option>
            <option value="month">This Month</option>
            <option value="year">This year</option>
            <option value="time">All time</option>
          </select>
          <input class="btn btn-info" type="submit" value="Buscar">
        </div>
      </form>
    </div>
    
    <div class="container pt-5">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">Starts</th>
          <th scope="col">Repository</th>
          <th scope="col">Description</th>
          <th scope="col">Owner</th>
          <th scope="col">Language</th>
          <th scope="col">Link</th>
        </tr>
      </thead>
  <tbody>
      {{#each results}}
        <tr>
          <th scope="row"> {{this.stargazers_count}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td><a target="_blank" href="{{this.owner.html_url}}">{{this.owner.login}}</a></td>
          <td>{{this.language}} </td>
          <td><a target="_blank" href="{{this.html_url}}"><span class="fa fa-link"></span></a></td>
        </tr>
      {{/each}}
  </tbody>
    </div>
  </div>
</div>

