<div class="content">
  {{>navbar}}
  <div class="content-info">
    <h1>Best repositories</h1>
    {{#each results}}
      <a href="{{this.html_url}}" class="card-language">
        <small class="card-language__owner">{{this.owner.login}}</small>
        <h2 class="card-language__name">{{this.name}}</h2>
        <p class="card-language__description">{{this.description}}</p>
        <span class="card-language__language">{{this.language}}</span>
        <span class="card-language__stars">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.867 53.867"><path fill="#EFCE4A" d="M26.934 1.318l8.322 16.864 18.611 2.705L40.4 34.013l3.179 18.536-16.645-8.751-16.646 8.751 3.179-18.536L0 20.887l18.611-2.705z"/></svg>
          {{#rounded this.stargazers_count }}{{/rounded}}</span>
      </a>
    {{/each}}
	   <form action="/" method="POST">
        <div class="form-group">
          <label for="searchDate">Select Date to search in github</label>
          <select class="form-control" id="searchDate" name="searchDate">
            <option value="today">Today</option>
            <option value="week">This week</option>
            <option value="month">This Month</option>
            <option value="year">This year</option>
            <option value="time">All time</option>
          </select>
          <input class="btn btn-info" type="submit" value="Buscar">
        </div>
      </form>
  </div>
</div>



