<div class="content">
  {{>navbar}}
  <div class="content-info">
    <div class="content-info__title">
      <h1>Best repositories</h1>
      <div class="title">
        <form action="/" method="POST">
          <input type="hidden" name="searchDate" id="searchDate" value="today">
          <input class="btn btn-info" type="submit" value="Today">
        </form>
        <form action="/" method="POST">
          <input type="hidden" name="searchDate" id="searchDate" value="week">
          <input class="btn btn-info" type="submit" value="This week">
        </form>
        <form action="/" method="POST">
          <input type="hidden" name="searchDate" id="searchDate" value="month">
          <input class="btn btn-info" type="submit" value="This mouth">
        </form>
        <form action="/" method="POST">
          <input type="hidden" name="searchDate" id="searchDate" value="year">
          <input class="btn btn-info" type="submit" value="This year">
        </form>
        <form action="/" method="POST">
          <input type="hidden" name="searchDate" id="searchDate" value="time">
          <input class="btn btn-info" type="submit" value="All time">
        </form>
      </div>
    </div>
    
    {{#each results}}
      <a href="{{this.html_url}}" class="card-language">
        <small class="card-language__owner">{{this.owner.login}}</small>
        <h2 class="card-language__name">{{this.name}}</h2>
        <p class="card-language__description">{{this.description}}</p>
        <span class="card-language__language">{{this.language}}</span>
        <span class="card-language__stars">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.867 53.867"><path fill="#EFCE4A" d="M26.934 1.318l8.322 16.864 18.611 2.705L40.4 34.013l3.179 18.536-16.645-8.751-16.646 8.751 3.179-18.536L0 20.887l18.611-2.705z"/></svg>
          {{#rounded this.stargazers_count }}{{/rounded}}</span>
      </a>
    {{/each}}
	   
  </div>
</div>



