<div class="row">
  <div class="col-3">
  {{>navbar}}
  </div>
  <div class="col-9">
    <div class="container pt-5">
      {{#each results}}
        <a href="{{this.html_url}}" class="card-language">
          <small class="card-language__owner">{{this.owner.login}}</small>
          <h2 class="card-language__name">{{this.name}}</h2>
          <p class="card-language__description">{{this.description}}</p>
          <span class="card-language__language">{{this.language}}</span>
          <span class="card-language__stars">
            {{ this.stargazers_count }}</span>
        </a>
      {{/each}}
    </div>
  </div>
</div>

